<div class="container">
  <div class="row">
    <div class="row">
      <div class="col-md-7 shadow detail">
        <h2>Account Benfits</h2>
      </div>
      <div class="col-md-4 shadow detail">
        <h2>bank Image</h2>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="row">
      <div class="col-md-3 shadow detailNew">
        <h2>Credit Cards</h2>
      </div>
      <div class="col-md-3 shadow detailNew">
        <h2>Fixed Deposits</h2>
      </div>
      <div class="col-md-3 shadow detailNew">
        <h2>Demat Account</h2>
      </div>
    </div>
  </div>
</div>
